<!DOCTYPE html>
<html lang="fa-IR">
<head>
<title>{{title}}</title>
<meta charset="UTF-8">
<meta name="author" content="M. MAD">
<link rel="icon" type="image/png" href="../../favicon.png">
<link rel="stylesheet" href="../base-style.css">
<link rel="stylesheet" href="../l-style.css">
<link rel="stylesheet" href="../fonts.css">
</head>
<body dir="rtl" align="right">
<header>
<h1 class="main-heading main-heading">{{header}}</h1>
<nav>
  <a href="/index.html">🏘 پروژه‌ها</a> &gt
  <a href="/l/index.html">🏫 آزمایشگاه‌ها</a> &gt
  <a href="../../index.html">🌞 آزمایشگاه انرژی خورشیدی</a> &gt
  <a href="index.html">📚 یادگیری</a> &gt
  <a href="#">📚 {{header}}</a>
</nav>
</header>
<article>
<div class="main-img-div main-heading">
<!-- <img class="main-img" src="{{pic}}"> -->
</div>
<table>
  <tr>
    <td><b class="table-pseudo-heading">نام:</b><br>{{name}}</td>
  </tr>
</table>
<div class="main-text">
{{_content}}
</div>
</article>
</body>
</html>
